/*Ref:https://www.w3schools.com/cssref/css3_pr_box-sizing.asp; Sets width and height of page based on content,
padding, and border*/
* {
    box-sizing: border-box;
}

/*Ref:https://www.wikihow.com/Set-a-Background-Image-in-HTML; Set background image of home page
with background property, set font style of whole page with font-family.*/
body{
    font-family: "Titillium Web",sans-serif;
    margin: 0;
    background-image: url("../images/homepage.jpg");
    background-size:cover;
    background-position: center;
}

/*Ref:https://www.w3schools.com/css/css_padding.asp; Used padding property to generate space
around content, text-align to center text into middle, color of text, font thickness, and margins of
left and right of content*/
.header {
    padding-top:5px;
    text-align: center;
    color:white;
    font-weight:bold; 
    margin-left:20px;
    margin-right:20px;
}
  
/*Ref:https://www.w3schools.com/css/css_margin.asp; Used margin property to close space
in between header and div, and font size */
.header h1 {
    font-size: 80px;
    margin-bottom:-6px;
    margin-top:0;
}


/*Ref:https://www.w3schools.com/css/css_overflow.asp; Used overflow property for
navigation bar so that if content goes out of frame it is cut and background-color to
set background color*/
.menubar {
    overflow: hidden;
    background-color: #333;
}
  
/*Ref:https://www.w3schools.com/cssref/pr_class_display.asp;
Style the navigation bar links with display property where it displays content
like a paragraph tag, and no text decoration such as a underline or overline */
.menubar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/*Ref:https://www.w3schools.com/howto/howto_js_slideshow.asp; Sets position property so that content is 
relative to its normal position*/
.image-carousel {
    width:100%;
    position: relative;
    margin: auto;
}
  
/*Hides the other images in slideshow by default*/
.mySlides {
    display: none;
    width:100%;
}

#slide1 {
    display: block;
}
  /* Next & previous buttons */
.prev, .next {
    /*Ref:https://www.w3schools.com/howto/howto_js_slideshow.asp; Used cursor property to generate
    specific type of mouse pointer when hovering over element*/
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    /*Ref:https://www.w3schools.com/howto/howto_js_slideshow.asp; Used to change the transition of color of 
    next and previous buttons when mouse is pointed at them*/  
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/*Next button on slideshow*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/*Ref:https://www.w3schools.com/howto/howto_js_slideshow.asp; When hovering over buttons change
color */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/*Caption at the bottom left hand corner of each image in slideshow*/
.caption {
    color:#ff6600;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom:20px;
    width: 100%;
    text-align: left;
}
  
/*Selector dots at bottom of slideshow to navigate to any picture in slideshow*/
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/*Ref:https://www.w3schools.com/cssref/sel_hover.asp; Color is changed when hovering over the element*/
.active, .dot:hover {
    background-color: #717171;
}
  
/*Ref:https://www.quackit.com/css/properties/webkit/css_-webkit-animation.cfm;
Fading animation for pictures in slideshow, and how long pictures "fade" out until next one*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
/*Ref:https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp;
Sets opacity property of fade animation*/
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*Ref:https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp;
Sets opacity of fade animation*/
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*Ref:https://www.w3schools.com/css/css_float.asp; Sets this element to the way right*/
.menubar a.right {
    float: right;
}
  
/*Cahnges hover color of menu*/
.menubar a:hover {
    background-color: #ddd;
    color: black;
}
 
.firstSet {
    padding:60px;
    text-align: left;
    color:#e6e6e6;
}

.secondSet {
    padding:60px;
    text-align: left;
    color:#e6e6e6;
}

.thirdSet {
    padding:60px;
    text-align: left;
    color:white;
}

/*Ref:https://www.w3schools.com/css/css_border.asp; Sets border style, thickeness, and
color and border around embedded video*/
.secondSet iframe {
    border-style: solid;
    border-width: 5px;
    border-color:black;
}

.firstSet h2 {
    font-size:40px;
}

.secondSet h2 {
    font-size:40px;
}

.thirdSet h2 {
    font-size:40px;
}
